<div class="sidebar p-3 m-2 md:m-3 lg:m-4" [ngClass]="{ collapsed: collapsed }">
  <ul class="menu">
    <li class="flex align-items-center">
      <a pRipple routerLink="/home" class="flex p-2 py-3 items-center cursor-pointer">
        <i class="pi pi-play-circle"></i>
        @if (!collapsed) {
          <span>PlayStationet</span>
        }
      </a>
    </li>
  </ul>
  <button
    pButton
    type="button"
    icon="pi pi-bars"
    class="toggle-btn"
    (click)="toggleSidebar()"
  ></button>

  <ul class="menu">
    <li>
      <a
        pRipple
        routerLink="/home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex p-2 py-3 items-center cursor-pointer"
      >
        <i class="pi pi-home"></i>
        @if (!collapsed) {
          <span class="ml-2">Home</span>
        }
      </a>
    </li>
    <li>
      <a pRipple routerLink="/search" routerLinkActive="active-link" class="flex p-2 py-3 items-center cursor-pointer">
        <i class="pi pi-search"></i>
        @if (!collapsed) {
          <span class="ml-2">Search</span>
        }
      </a>
    </li>
    <li>
      <a pRipple routerLink="/store" routerLinkActive="active-link" class="flex p-2 py-3 items-center cursor-pointer">
        <i class="pi pi-shopping-cart"></i>
        @if (!collapsed) {
          <span class="ml-2">Store</span>
        }
      </a>
    </li>
    <li>
      <a pRipple routerLink="/settings" routerLinkActive="active-link" class="flex p-2 py-3 items-center cursor-pointer">
        <i class="pi pi-cog"></i>
        @if (!collapsed) {
          <span class="ml-2">Settings</span>
        }
      </a>
    </li>
    <li>
      <a pRipple routerLink="/wishlist" routerLinkActive="active-link" class="flex p-2 py-3 items-center cursor-pointer">
        <i class="pi pi-heart"></i>
        @if (!collapsed) {
          <span class="ml-2">Wishlist</span>
        }
      </a>
    </li>
    <li>
      <a
        pRipple
        routerLink="/notifications"
        routerLinkActive="active-link"
        class="flex p-2 py-3 items-center cursor-pointer"
      >
        <i class="pi pi-bell"></i>
        @if (!collapsed) {
          <span class="ml-2">Notifications</span>
        }
      </a>
    </li>

    <li class="flex p-2 flex-column">
      <!-- <div class="flex"></div> -->
      @if (!collapsed) {
        <div
          pRipple
          pStyleClass="@next"
          enterFromClass="hidden"
          enterActiveClass="slidedown"
          leaveToClass="hidden"
          leaveActiveClass="slideup"
          class="flex items-center justify-between cursor-pointer rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 transition-colors duration-150 p-ripple"
        >
          <i class="pi pi-chart-line mr-2"></i>
          <div class="flex items-center">
            <span class="ml-2">Games Played</span>
          </div>
          <i class="pi pi-chevron-down"></i>
        </div>

        <ul class="list-none p-0 m-0 overflow-hidden">
          <li pRipple class="p-2">
            <a
              class="flex items-center cursor-pointer rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 transition-colors duration-150 p-ripple"
            >
              <i class="pi pi-folder mr-2"></i>
              <span class="font-medium">Projects</span>
            </a>
          </li>
          <li pRipple class="p-2">
            <a
              class="flex items-center cursor-pointer rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 transition-colors duration-150 p-ripple"
            >
              <i class="pi pi-folder mr-2"></i>
              <span class="font-medium">Projects</span>
            </a>
          </li>
        </ul>
      } @else {
        <i class="pi pi-chart-line mr-2"></i>
      }
    </li>

    <hr class="mb-4 mx-4 border-t border-0 border-surface" />
    <li class="flex align-items-center push-to-bottom">
      <!-- <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
        size="large"
        style="height: auto"
      /> -->

      <a
        pRipple
        routerLink="/user-data"
        routerLinkActive="active-link"
        class="avatar-wrapper user-link"
        [class.collapsed]="collapsed"
      >
        <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
        <span class="font-bold user-name" [class.hidden]="collapsed">{{ username }}</span>
      </a>
    </li>
  </ul>
</div>
