.sidebar {
  background: #456882;
  color: white;
  width: clamp(220px, 15vw, 280px);
  min-height: 100%;
  transition: width 0.3s ease;
  border-radius: var(--radius-sm);
  border: 1px solid #e0feff;
}

// todo Sticky doesn't work well yet

.sidebar.collapsed {
  width: 70px;
}

.toggle-btn {
  // margin-bottom: 1.5rem;
  // width: 100%;
  background: #f9a72b;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  gap: 0.5rem;
  border-radius: var(--radius-sm);
}

// .menu li.no-padding {
//   padding: 0;
// }

// .menu li:hover {
//   background: #304657;
//   border-radius: var(--radius-sm);
// }

.menu i {
  font-size: 1.2rem;
}

.ripple-box {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-weight: bold;
  background: var(--p-content-background);
  border: 1px solid var(--p-content-border-color);
  border-radius: var(--p-content-border-radius);
}

.avatar-wrapper {
  transition: transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.avatar-wrapper.collapsed {
  transform: scale(0.9);
}
.avatar-wrapper :deep(.p-avatar) {
  width: auto;
  height: auto;
}

.push-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.user-name {
  display: inline-block;
  white-space: nowrap;
  clip-path: inset(0 0 0 0);
  opacity: 1;
  transition:
    clip-path 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.user-name.hidden {
  clip-path: inset(0 100% 0 0); /* Oculta de derecha a izquierda */
  opacity: 0;
}
